<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express test</title>
</head>

<body>
    <!--    <% if (locals.error) { %>
        <h3>
            <%= error %>
        </h3>
        <% } %> -->
    <form action="/greet" method="get">
        Register:
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="submit" value="go next">
    </form>

    <br />



    <ul style="list-style-type: none">
        <% for(i=0; i<names.length; i++) { %>
            <% if(names[i] && names[i]!=""){ %>
                <li>
                    <p> Hi! Welcome <%= names[i] %> Go to your page: </p><a href="/wazzup/?index=<%= i %>">
                        Click Me! </a>
                </li>
            <% } %>
        <% };%>
    </ul>

    <h2>TODO LIST</h2>

    <form action="/task" method="post">
        Add a new task:
        <input type="text" name="task" id="task" placeholder="Task to do">
        <input type="submit" value="ADD">
    </form>
    <br />

    <ul>
        <% for(i=0; i<tasks.length; i++) { %>
            <li>
                <p>New task added: <%= tasks[i].task %>
                </p>
                <form action="/deleteTask" method="post">
                    <input type="hidden" name="id" value="<%= tasks[i].id %>">
                    <input type="submit" value="Delete">
                </form>
                <form action="/moveUp" method="post">
                    <input type="hidden" name="id" value="<%= tasks[i].id %>">
                    <input type="submit" value="Move Up">
                </form>
                <form action="/moveDown" method="post">
                    <input type="hidden" name="id" value="<%= tasks[i].id %>">
                    <input type="submit" value="Move Down">
                </form>
            </li>
            <% };%>
    </ul>



</body>

</html>